*.autofetch
*create-all.sql
*drop-all.sql
*create-shared.sql
*drop-shared.sql
*create-tenant.sql
*drop-tenant.sql
*.orig
.classpath
.project
.settings/
target/
logs/
log/
it-repo/
ebean-autotune.xml
ebean-profiling*.xml
/db
/mydb.db
!src/test/ddl-review/*.sql


# Intellij project files
*.iml
*.ipr
*.iws
.idea/
